<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tem de Tudo um pouco!</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
</head>
<body>

    <div class="header-container">
        
        <div class="nav-btn">
            
            <div id="area-deslogado">
                <a href="./login.html">
                    <button class="btn-login">Logar / Cadastrar</button>
                </a>
            </div>

            <div id="area-adm" class="usuario-info hidden">
                <span id="bem-vindo">Olá, Usuário</span>
                <a href="./config.html" class="link-usuario">Configurações ADM</a>
                <a href="./anunciar.html" class="link-usuario">Anunciar Produto</a>
                <button id="btn-sairADM" class="btn-sair">Sair</button>
            </div>

            <div id="area-usuario" class="usuario-info hidden">
                <span id="bem-vindo-user">Olá, Usuário</span>
                <button id="btn-sair" class="btn-sair">Sair</button>
            </div>

        </div>

        <div class="img-Logo">
            <img src="../../public/logo.png" style="height: 150px;">
        </div>
        <div class="nav-inicio">
            <h1 class="titulo">Tem de Tudo!</h1>
            <div class="pesquisa-princ">
                <input class="pesquisa" type="text" placeholder="O que você está procurando hoje?">
            </div>
        </div>
    </div>
        <nav class="menu-container">
            <ul class="menu-principal">
                <li><a href="#">Início</a></li>  
                <li><a href="#">Informática e Computação</a></li>
                <li><a href="#">Smartphones e Conectividade</a></li>
                <li><a href="#">Áudio e Vídeo</a></li>
                <li><a href="#">Universo Gamer</a></li>
                <li><a href="#">Casa Inteligente</a></li>
            </ul>
        </nav>

    <div class="produtos" id="produtos"></div>

    <script src="https://cdn.jsdelivr.net/npm/pouchdb@8.0.1/dist/pouchdb.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <script type="module" src="../controllers/HomeController.js" defer></script>
    <script type="module" src="../controllers/HomeProdutosController.js" defer></script>

</body>
</html>